*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@font-face {
  font-family: "Open Sans";
  src:
    url("./assets/fonts/OpenSans-Regular.woff2") format("woff2"),
    url("./assets/fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 1rem;
}

* {
  font-family: "Open Sans";
}

/* body {
  background-image: url(./assets/images/backgrounds/background-partly-cloudy-night.jpg);
} */

.content {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  grid-template-areas:
    "main main search week-weather"
    "main main tempuv week-weather"
    "astronomy wind humidity week-weather";
}

.search {
  padding: 2rem;
  border: none;
  border-radius: 1rem;
}

.current-condition {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.card,
.current-condition,
.description {
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 1rem;
  background: rgba(245, 245, 245, 0.15);
  backdrop-filter: blur(2px);
  box-shadow: 0px 0px 2px;
  text-shadow: #000000 0px 0px 8px;
}

.fetch-time,
.location {
  color: #f5f5f5;
  text-shadow: #000000 0px 0px 8px;
}

.description {
  font-size: 1rem;
  padding: 1rem;
  color: #f5f5f5;
  box-shadow: #000000 0px 0px 2px;
}

h2 {
  color: #f5f5f5;
}

.main {
  display: grid;
  gap: 1rem;
  grid-area: main;
}

.current-condition div {
  color: #f5f5f5;
  font-size: 4rem;
}

.search {
  grid-area: search;
}

.tempuv {
  grid-area: tempuv;
}

.astronomy {
  grid-area: astronomy;
}

.humidity {
  grid-area: humidity;
}

.wind {
  grid-area: wind;
}

.week-weather {
  grid-area: week-weather;
}

.astronomy-items,
.humidity-items {
  display: grid;
}

.forecast,
.item {
  color: #f5f5f5;
  display: grid;
  gap: 1rem;
  align-items: center;
}

.forecast img,
.item img {
  width: 3rem;
}

.forecast {
  padding: 1em;
  grid-template-columns: 1fr 1fr 1fr;
}

.item {
  padding: 0.5em;
  grid-template-columns: 1fr 1fr 1fr;
}

.forecase-date {
  text-align: left;
}

.forecast-temp {
  text-align: right;
}
