*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@font-face {
  font-family: "Open Sans";
  src:
    url("./assets/fonts/OpenSans-Regular.woff2") format("woff2"),
    url("./assets/fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 1rem;
}

* {
  font-family: "Open Sans";
}

/* body {
  background-image: url(./assets/images/backgrounds/background-partly-cloudy-night.jpg);
} */

.content {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  grid-template-areas:
    "main main search week-weather"
    "main main tempuv week-weather"
    "astronomy wind humidity week-weather";
}

.current-condition {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.card {
  padding: 1rem;
  border: 2px solid #f5f5f5;
  border-radius: 1rem;
  background: rgba(245, 245, 245, 0.15);
}

.current-weather {
  grid-area: main;
}

.tempuv {
  grid-area: tempuv;
}

.astronomy {
  grid-area: astronomy;
}

.humidity {
  grid-area: humidity;
}

.wind {
  grid-area: wind;
}

.week-weather {
  grid-area: week-weather;
}

.week-forecast,
.astronomy-items,
.humidity-items {
  display: grid;
}

.forecast,
.item {
  display: grid;
  gap: 1rem;
  align-items: center;
}

.forecast,
.item img {
  width: 50%;
}

.forecast {
  padding: 1em;
  grid-template-columns: 1fr 1fr 1fr;
}

.item {
  padding: 0.5em;
  grid-template-columns: 1fr 1fr 1fr;
}

.forecase-date {
  text-align: left;
}

.forecast-temp {
  text-align: right;
}
