*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@font-face {
  font-family: "Open Sans";
  src:
    url("./assets/fonts/OpenSans-Regular.woff2") format("woff2"),
    url("./assets/fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "Open Sans";
}

/* body {
  background-image: url(./assets/images/backgrounds/background-partly-cloudy-night.jpg);
} */

.content {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  grid-template-areas:
    "main main search week-weather"
    "main main tempuv week-weather"
    "astronomy air-quality humidity week-weather"
    "astronomy air-quality wind week-weather";
}

.current-condition {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.current-weather {
  grid-area: main;
}

.tempuv {
  grid-area: tempuv;
}

.astronomy {
  grid-area: astronomy;
}

.air-quality {
  grid-area: air-quality;
}

.humidity {
  grid-area: humidity;
}

.wind {
  grid-area: wind;
}

.week-weather {
  grid-area: week-weather;
}

.week-forecast,
.astronomy-items,
.humidity-items {
  display: grid;
  gap: 1rem;
}

.forecast,
.item {
  border: 1px solid black;
  padding: 1em;
  display: grid;
  gap: 1em;
  align-items: center;
}

.forecast,
.item img {
  width: 50 %;
}

.forecast {
  grid-template-columns: 1fr 1fr 1fr;
}

.item {
  grid-template-columns: 1fr 1fr 1fr;
}

.forecase-date {
  text-align: left;
}

.forecast-temp {
  text-align: right;
}
