/* -- CSS Reset -------------------------------------------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}
/* ------------------------------------------------------------------- */

/* -- Set Font ------------------------------------------------------- */
@font-face {
  font-family: "Open Sans";
  src:
    url("./assets/fonts/OpenSans-Regular.woff2") format("woff2"),
    url("./assets/fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* ------------------------------------------------------------------ */

body {
  margin: 1rem;
  height: 100vh;
}

* {
  font-family: "Open Sans";
}

.content {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  grid-template-areas:
    "main main input forecast"
    "main main tempuv forecast"
    "astronomy wind humidity forecast";
}

.input {
  grid-area: input;
}

fieldset {
  border-radius: 1rem;
}

.search-btn {
  color: #f5f5f5;
}

input[type="text"],
input[type="text"]:focus {
  color: #f5f5f5;
}

.search-box {
  display: grid;
  gap: 1rem;
  grid-template-columns: 3fr 1fr;
}

.card,
fieldset,
.search-btn,
input[type="text"],
input[type="text"]:focus {
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 1rem;
  background: rgba(245, 245, 245, 0.15);
  backdrop-filter: blur(2px);
  box-shadow: #000000 0px 0px 2px;
  text-shadow: #000000 0px 0px 8px;
}

.description {
  font-size: 1rem;
  color: #f5f5f5;
}

h2 {
  color: #f5f5f5;
}

.main {
  display: grid;
  grid-template-areas:
    "date-location date-location"
    "main-icon main-temp"
    "description description";
  gap: 1rem;
  grid-area: main;
  align-items: center;
}

.date-location {
  grid-area: date-location;
  color: #f5f5f5;
  text-shadow: #000000 0px 0px 8px;
}

.input {
  display: grid;
  gap: 1rem;
}

legend,
label {
  color: #f5f5f5;
}

.main-icon {
  grid-area: main-icon;
}

.main-temp {
  grid-area: main-temp;
  color: #f5f5f5;
  text-shadow: #000000 0px 0px 8px;
}

.description {
  grid-area: description;
}

.search {
  grid-area: search;
}

.tempuv {
  grid-area: tempuv;
}

.astronomy {
  grid-area: astronomy;
}

.humidity {
  grid-area: humidity;
}

.wind {
  grid-area: wind;
}

.forecast {
  grid-area: forecast;
}

.astronomy-items,
.humidity-items {
  display: grid;
}

.item {
  color: #f5f5f5;
  display: grid;
  gap: 1rem;
  align-items: center;
}

.forecast img,
.item img {
  width: 3rem;
}

.forecast {
  padding: 1em;
  grid-template-columns: 1fr 1fr 1fr;
}

.item {
  padding: 0.5em;
  grid-template-columns: 1fr 1fr 1fr;
}

.forecase-date {
  text-align: left;
}

.forecast-temp {
  text-align: right;
}
