*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@font-face {
  font-family: "Open Sans";
  src:
    url("./assets/fonts/OpenSans-Regular.woff2") format("woff2"),
    url("./assets/fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "Open Sans";
}

.content {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(5, minmax(100px, 1fr));
  grid-template-rows: repeat(5, minmax(100px, 1fr));
}

.current-weather {
  grid-area: 1/1/3/3;
}

.current-condition {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  font-size: 4em;
  font-weight: bold;
}

.description {
  font-size: 2em;
}

.astronomy {
  border: 1px solid black;
  grid-area: 3/1/5/2;
}

.air-quality {
  border: 1px solid black;
  grid-area: 3/2/5/3;
}

.humidity {
  border: 1px solid black;
  grid-area: 3/3/4/5;
}

.wind {
  border: 1px solid black;
  grid-area: 4/3/5/5;
}

.item {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  align-items: center;
}

.air-quality .item {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.week-weather {
  grid-area: 1/5/6/6;
  text-align: center;
}

.week-forecast,
.astronomy-items,
.humidity-items {
  display: grid;
  gap: 1rem;
}

.forecast {
  border: 1px solid black;
  padding: 1rem;

  /* important */
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  align-items: center;
}

.forecase-date {
  text-align: left;
}

.forecast-temp {
  text-align: right;
}
